@using Exp = MainPage.Domain.Entities.Experience
@* @rendermode @(new InteractiveAutoRenderMode(prerender: false)) *@
@inject IExperienceService service

<Section IdType="experience">
    <h2 class="text-4xl font-semibold mb-4">Experience</h2>
    <ul>
        @if (experience == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {

            @foreach (var item in experience)
            {
                <ExperienceItem JobTitle="@item.JobTitle" CompanyName="@item.CompanyName"
                                Location="@item.Location" IsRemote="@item.IsRemote"
                                WorkStart="@item.StartDate" WorkEnd="@item.EndDate"
                                JobDescription="@item.Description" />
            }
        }
    </ul>
</Section>




@code {
    private IEnumerable<Exp>? experience = new List<Exp>();

    protected override async Task OnInitializedAsync()
    {
        experience = await service.GetAllExpieriences();
    }
}